# macOS system
.DS_Store

# Python
__pycache__/
*.pyc

# virtualenv / conda
venv/
env/
*.egg-info/

# dotenv secrets
.env
*.env

# Jupyter
*.ipynb_checkpoints/

# Chroma DB
db/

# Documents metadata
metadata.json

# Test sources
rag_chat_test.ipynb
